@if($context.groupCounter)
  @assign($context.groupCounter = $context.groupCounter + 1)
  @inject({
    ...$context,
    id: `${$context.id}_${$context.groupCounter}`,
  })
@else
  @let(fieldKey = $props.get('name'))
  @inject({
    name: fieldKey,
    id: $props.get('id') ?? fieldKey,
    oldValue: old(fieldKey) || '',
    errors: flashMessages.get('inputErrorsBag', {})[fieldKey],
    hasErrors: fieldKey in flashMessages.get('inputErrorsBag', {}),
  })
@end
{{{ await $slots.main() }}}
